

<form #userForm="ngForm" style="padding: 0 5%">
  <div class="card user-card">
    <div class="card-header" [ngSwitch]="modoEdicion">
      <b *ngSwitchCase="true">Editar usuario</b>
      <b *ngSwitchCase="false">Crear usuario</b>
    </div>
    <div class="card mb-4 mt-4">
      <ul class="nav">
        <button type="button" class="btn-toolbar" (click)="Submit()">
          <a class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 5H13"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 13V5"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            Guardar
          </a>
        </button>
        <button type="button" class="btn-toolbar" (click)="LimpiarForm()">
          <a class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 5H13"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 13V5"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            Limpiar
          </a>
        </button>
        <button type="button" class="btn-toolbar" (click)="VolverForm()">
          <a class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 5H13"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 13V5"
                  stroke="#38E8C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            Volver
          </a>
        </button>
      </ul>
    </div>
    <div class="card-body">
      <div class="row pb-2 pr-2">
        <div class="col-lg-2">Tipo de documento</div>
        <div class="col-lg-4">
          <ng-select
            [(ngModel)]="userFormData.documentTypeId"
            name="documentTypeId"
            [items]="documentTypes"
            bindLabel="descripcion"
            bindValue="id"
            placeholder="Seleccione un Tipo de Documento"
            class="ng-select-solid"
            [disabled]="modoEdicion"
            required
          >
          </ng-select>
        </div>

        <div class="col-lg-2">Número de documento</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.documentNumber"
            name="documentNumber"
            class="form-control form-control-sm"
            [readonly]="modoEdicion"
            required
          />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Nombre</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.name"
            name="name"
            class="form-control form-control-sm"
            required
          />
        </div>

        <div class="col-lg-2">Apellido Paterno</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.fathersLastName"
            name="fathersLastName"
            class="form-control form-control-sm"
            required
          />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Apellido Materno</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.mothersLastName"
            name="mothersLastName"
            class="form-control form-control-sm"
            required
          />
        </div>

        <div class="col-lg-2">Dirección</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.address"
            name="address"
            class="form-control form-control-sm"
            required
          />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Departamento</div>
        <div class="col-lg-4">
          <ng-select
            [(ngModel)]="selectedRegionCode"
            name="regionCode"
            [items]="regiones"
            bindLabel="nombreRegion"
            bindValue="codigoRegion"
            placeholder="Seleccione una región"
            (change)="cargarProvincias()"
            required
          >
          </ng-select>
        </div>

        <div class="col-lg-2">Provincia</div>
        <div class="col-lg-4">
          <ng-select
            [(ngModel)]="selectedProvinceCode"
            name="provinceCode"
            [items]="provincias"
            bindLabel="nombreProvincia"
            bindValue="codigoProvincia"
            placeholder="Seleccione una provincia"
            (change)="cargarDistritos()"
            [disabled]="!selectedRegionCode"
            required
          >
          </ng-select>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Distrito</div>
        <div class="col-lg-4">
          <ng-select
            [(ngModel)]="selectedDistrictCode"
            name="ubigeoCode"
            [items]="distritos"
            bindLabel="nombreDistrito"
            bindValue="codigoDistrito"
            placeholder="Seleccione un distrito"
            [disabled]="!selectedProvinceCode"
            required
          >
          </ng-select>
        </div>

        <div class="col-lg-2">Teléfono</div>
        <div class="col-lg-4">
          <input
            type="text"
            [(ngModel)]="userFormData.phone"
            name="phone"
            class="form-control form-control-sm"
            required
          />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Correo</div>
        <div class="col-lg-4">
          <input
            type="email"
            [(ngModel)]="userFormData.email"
            name="email"
            class="form-control form-control-sm"
            required
          />
        </div>

        <div class="col-lg-2">Contraseña</div>
        <div class="col-lg-4">
          <input
            type="password"
            [(ngModel)]="userFormData.password"
            name="password"
            class="form-control form-control-sm"
            required
          />
        </div>
      </div>
    </div>
  </div>
</form>
